.DS_Store

# Exclude files above 10MB
/terminal-navigation-walkthrough/Best pipeline.mov
/terminal-navigation-walkthrough/terminal-practice/ﾛｸｶﾞ 2026-06-30 20.51.01.mov

*.mov
*.mp4
*.webm
*.mkv
*.avi
